{% extends "base.html" %}

{% block content %}
    <h1>ML substitute</h1>
    <p>Here you can find a substitute for your favorite machine learning MLl.</p>
    
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Data before ML substitution</h5>
            <p class="card-text">The data before ML substitution is shown below.</p>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Education</th>
                            <th>Occupation</th>
                            <th>Marital Status</th>
                            <th>Product Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in persons %}
                            <tr>
                                <td>{{ person.customer_id }}</td>
                                <td>{{ person.gender }}</td>
                                <td>{{ person.age }}</td>
                                <td>{{ person.education }}</td>
                                <td>{{ person.occupation }}</td>
                                <td>{{ person.marital_status }}</td>
                                <td>{{ person.product_rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <p class="mt-3">Click button to substitute with ML</p>
            <button id="substitute" class="btn btn-primary mb-3">ML substitute</button>
            <p>
                Substituting missing values with the ML of the column is a simple method to handle missing data.
            </p>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>ML Age</th>
                            <th>Education</th>
                            <th>Occupation</th>
                            <th>Marital Status</th>
                            <th>Product Rating</th>
                            <th>ML Product Rating</th>
                        </tr>
                        </thead>
                        <tbody id="ML_substituted">

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Conclusion</h5>
                    <p class="card-text">The data has been substituted with the ML of the column. The missing values
                        have
                        been replaced with the ML of the column.</p>

                    <hr>

                    <p>
                        The ML of the age column is
                        35. The ML of the product rating column is 4.27.
                    </p>


                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("substitute").addEventListener("click", function () {
            fetch('/api/person/ML', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },

            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let table = document.getElementById("ML_substituted");
                    table.innerHTML = "";
                    data.forEach(person => {
                        let row = table.insertRow();
                        row.innerHTML = `
                    <td>${person.customer_id}</td>
                    <td>${person.gender}</td>
                    <td>${person.age}</td>
                    <td>${person.default_age}</td>
                    <td>${person.education}</td>
                    <td>${person.occupation}</td>
                    <td>${person.marital_status}</td>
                    <td>${person.product_rating}</td>
                    <td>${Math.round(person.default_product_rating * 100) / 100}</td>
                `;
                    });


                    //location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock %}
